body {
    margin: 0;
}

.part {
    display: inline-block;
    width: 50%;
}

.source.simple {
    width: 32px;
    height: 32px;
    background: url('../../fixtures/images/arrow.svg');
}
.sprite.simple {
    width: 32px;
    height: 32px;
    background: url('../../fixtures/images/arrow.svg?sprite');
}

.source.bg-image {
    width: 32px;
    height: 32px;
    background-image: url('../../fixtures/images/arrow.svg');
}
.sprite.bg-image {
    width: 32px;
    height: 32px;
    background-image: url('../../fixtures/images/arrow.svg?sprite');
}

.source.with-color {
    width: 32px;
    height: 32px;
    background: #eee url('../../fixtures/images/arrow.svg');
}
.sprite.with-color {
    width: 32px;
    height: 32px;
    background: #eee url('../../fixtures/images/arrow.svg?sprite');
}

.source.with-color-outside {
    width: 32px;
    height: 32px;
    background: url('../../fixtures/images/arrow.svg');
    background-color: #eee;
}
.sprite.with-color-outside {
    width: 32px;
    height: 32px;
    background: url('../../fixtures/images/arrow.svg?sprite');
    background-color: #eee;
}

.source.with-color-override {
    width: 32px;
    height: 32px;
    background-color: #eee;
    background: url('../../fixtures/images/arrow.svg');
}
.sprite.with-color-override {
    width: 32px;
    height: 32px;
    background-color: #eee;
    background: url('../../fixtures/images/arrow.svg?sprite');
}

.source.bg-size {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg') no-repeat;
    background-size: 100%;
}
.sprite.bg-size {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg?sprite') no-repeat;
    background-size: 100%;
}

.source.bg-size-pixel {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg') no-repeat;
    background-size: 80px;
}
.sprite.bg-size-pixel {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg?sprite') no-repeat;
    background-size: 80px;
}

.source.bg-size-height {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg') no-repeat;
    background-size: auto 120px;
}
.sprite.bg-size-height {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg?sprite') no-repeat;
    background-size: auto 120px;
}

.source.bg-size-cover {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg') no-repeat;
    background-size: cover;
}
.sprite.bg-size-cover {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg?sprite') no-repeat;
    background-size: cover;
}

.source.bg-size-contain {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg') no-repeat;
    background-size: contain;
}
.sprite.bg-size-contain {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/eiffel-tower.svg?sprite') no-repeat;
    background-size: contain;
}

.source.bg-size-override {
    width: 100px;
    height: 150px;
    background-size: 100%;
    background: url('../../fixtures/images/eiffel-tower.svg');
}
.sprite.bg-size-override {
    width: 100px;
    height: 150px;
    background-size: 100%;
    background: url('../../fixtures/images/eiffel-tower.svg?sprite');
}

.source.bg-position {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/heart.svg') 60px -40px no-repeat;
}
.sprite.bg-position {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/heart.svg?sprite') 60px -40px no-repeat;
}

.source.bg-position-outside {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/heart.svg') no-repeat;
    background-position: 60px -40px;
}
.sprite.bg-position-outside {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/heart.svg?sprite') no-repeat;
    background-position: 60px -40px;
}

.source.bg-position-override {
    width: 128px;
    height: 128px;
    background-position: 60px -40px;
    background: url('../../fixtures/images/heart.svg') no-repeat;
}
.sprite.bg-position-override {
    width: 128px;
    height: 128px;
    background-position: 60px -40px;
    background: url('../../fixtures/images/heart.svg?sprite') no-repeat;
}

.source.bg-position-and-size {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/chrome.svg') 60px -40px;
    background-size: 100%;
}
.sprite.bg-position-and-size {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/chrome.svg?sprite') 60px -40px;
    background-size: 100%;
}

.source.bg-position-and-size-outside {
    width: 200px;
    height: 200px;
    background: url('../../fixtures/images/chrome.svg');
    background-size: 200px 100px;
    background-position: 60px -40px;
}
.sprite.bg-position-and-size-outside {
    width: 200px;
    height: 200px;
    background: url('../../fixtures/images/chrome.svg?sprite');
    background-size: 200px 100px;
    background-position: 60px -40px;
}
