.arrow,
.clock,
.heart {
    width: 32px;
    height: 32px;
}

.arrow {
    background: url('./svg/arrow.svg');
}
.clock {
    background: url('./svg/clock.svg?s=sprite3');
}
.heart {
    background: url('./svg/heart.svg');
}
.img {
    background: url('./img/img.png?t=2');
}
